body {
    background-color: lightblue;
}

.headshot {
    background-color: #9dc4d1;
}

#main-content {
    background-color: #f7f7f7;
}

h1, h2, h3, p {
    font-family: sans-serif;
}

#main-text div {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#profile-img {
    border-radius: 50%;
    border: 10px solid black;
    max-width: 100%;
    height: auto;
}

#header {
    text-align: center;
    background-color: #f7f7f7;
    margin-top: 1%;
}

#main-text {
    padding: 0% 5% 0% 5%;
}

.center {
	width: 90%;
	max-width: 800px;
	margin: 30px auto;
	padding: 1%;
}
.center-text {
    text-align: center;
}

.nav-tab {
    overflow: hidden;
    background-color: #6293a3;
    margin: auto;
}

.nav-tab button {
    background-color: #f1f1f1;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.nav-tab button:hover {
    background-color: #ddd;
}
